<section class="cont">
  <p-card class="card col-sm-12 col-md-4">
    <p>Entre com o e-mail cadastrado para recuperar sua senha.</p>
    <div>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          placeholder="E-mail"
          [(ngModel)]="email"
        />
      </span>
    </div>
    <br>
    <button pButton pRipple type="button" label="Enviar" class="p-button-rounded p-button-danger" (click)="displayModal=!displayModal"></button>
  </p-card>
</section>

<app-modal header="Verifique seu E-mail" [displayModal]="displayModal">
  <div content>Verifique seu e-mail para recuperar a senha</div>
</app-modal>
